* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1400px;
    margin: auto;
    background: #FFF;
}
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.menu_header {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px;
}
.menu_header_link {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
    text-decoration: none;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_image {
    width: 1400px;
    height: 552px;
}
.main_blog {
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
    width: 856px;
}
.main_blog_title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; /* 64.8px */
    align-self: stretch;
}
.main_blog_box {
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.main_blog_text {
    width: 856px;
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 31.5px */
}
.main_blog_text_mark {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.main_blog_list {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
    width: 838px;
    margin-left: 18px;
}
.main_blog_button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background: #04959E;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
    border: 0;
}
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    border-top: 1px solid #161616;
}
.footer_text_box {
    display: flex;
    width: 856px;
    padding: 16px 0px;
    justify-content: center;
    align-items: flex-start;
}
.footer_text {
    color: #161616;
    text-align: right;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}